/*general styles*/
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;;
  font-size: 100%
}
a{
  text-decoration: none;
}
body{
    background-color: #22222A !important;
}
div{
  display: block;
}
.geolab{
  color: #652D88!important;
}
/*loader*/
.before-load{
  display: none;
}
.before-load.active{
  display: block;
}
.loadcenter {
    visibility: visible;
    height: 320px;
    width: 320px;
    margin: -160px 0 0 -160px;
    top: 50%;
    left: 50%;
    position: absolute;
    background-color: #22222A!important;
}
.loadcenter_wrap {
    position: relative;
    -moz-perspective: 500px;
    -webkit-perspective: 500;
    -o-perspective: 500;
    -ms-perspective: 500;
}
.loadcenter_wrap p {
    position: absolute;
    z-index: 2;
    width: 100%;
    text-align: center;
    color: #fff;
}
.loadcenter svg {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
.loadcenter path {
    fill: none;
    stroke: #fff;
    stroke-width: 1;
    fill: none;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.loadcenter .l1 path {
    stroke-dasharray: 450;
    stroke-dashoffset: 900;
    -webkit-animation: LOADING1 4s linear 0s infinite;
    -o-animation: LOADING1 4s linear 0s infinite;
    animation: LOADING1 4s linear 0s infinite;
}
.loadcenter .l2 path {
    stroke-dasharray: 340;
    stroke-dashoffset: 340;
    animation: LOADING2 3s linear 0s infinite;
}
.loadcenter .l3 path {
    stroke-dasharray: 230;
    stroke-dashoffset: 230;
    animation: LOADING3 2s linear 0s infinite;
}
@keyframes LOADING1 {
    0% {
        stroke-dashoffset: -900;
    }

    50% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 900;
    }
}
@keyframes LOADING2 {
    0% {
        stroke-dashoffset: 340;
    }

    50% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: -340;
    }
}
@keyframes LOADING3 {
    0% {
        stroke-dashoffset: -230;
    }

    50% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 230;
    }
}
.loadcenter_wrap .l1 {
    animation: TURN 2.5s linear 0s infinite;
}
.loadcenter_wrap .l2 {
    animation: TURN 2s linear 0s infinite;
}
.loadcenter_wrap .l3 {
    animation: TURN 1.5s linear 0s infinite;
}
@-webkit-keyframes TURN {
    0% {
        -webkit-transform: rotateY(0deg);
        opacity: 1
    }

    25% {
        -webkit-transform: rotateY(90deg);
        opacity: .6
    }

    50% {
        -webkit-transform: rotateY(180deg);
        opacity: 1
    }

    75% {
        -webkit-transform: rotateY(270deg);
        opacity: .6
    }

    100% {
        -webkit-transform: rotateY(360deg);
        opacity: 1
    }
}
@-webkit-keyframes TURNBACK {
    0% {
        -webkit-transform: rotateY(360deg);
        opacity: 1
    }
    25% {
        -webkit-transform: rotateY(270deg);
        opacity: .6
    }
    50% {
        -webkit-transform: rotateY(180deg);
        opacity: 1
    }
    75% {
        -webkit-transform: rotateY(90deg);
        opacity: .6
    }
    100% {
        -webkit-transform: rotateY(0deg);
        opacity: 1
    }
}
/*grid system*/
.grid-bg{
  position: fixed;
  top: 0;
  width: 100%;
}
.col-xs-1{
  height: 100%;
  min-height: 1px;
  width: 8.5%;
  position: relative;
}
.col-xs-2{
  height: 100%;
  min-height: 1px;
  width: 17%;
}
.grid-bg .grid span{
  width: 100%;
  height: 100%;
  display: inline-block;
  border-right: .0625em solid #666767;
}
/*social icons*/


/*navigation*/
.header{
  height: 6.5em;
}
.glyphicon{
  margin-left: 5%;
}
header a{
  text-decoration: none;
}
.logoPanel .pg_logo .nav-logo img{
  height: 90px;
  left: 120px;
  top: 15px;
}
#full-nav-bar{
  background: rgba(34, 34, 42, 0.6);
}
.ul .li a .logosvg{
  margin-left: -0.5%;
}
.logosvg{
  margin-left: -1%;
    margin-top: -1.5%;
}
.nav_menu #logo{
  margin-bottom: 1%;
}
#wlogotext{
  font-size: 1.4em;
  border-bottom: 2px solid #66FFCC;
}
.lgtextlink .logo-text{
  color: #FD9CB1;
}
#lgtextid{
  font-size: 0.8em;
}
.lgtextlink{
  display: inline-block;
  margin-left: -5%!important;
  margin-top: 2.3%!important;
}
li .nav-logo-text .lgrextlink a{
  text-decoration: none!important;
}
#logoText{
  color: #FD9CB1;
  font-size: 1em;
  text-decoration: none;
}
.logoPanel .pg_logo h1 a{
  color: #66FFCC;
  font-size: 0.5em;
  text-decoration: none;
}
.nav_menu{
  height: 6.5em;
}
.pg_logo{
  z-index: 15;
}
.nav_menu a{
  color: #66FFCC;
  margin-left: 0%;
}
.header .nav_menu ul{
  position: relative;
  height: 6.5em;
}
.header .nav_menu ul li a{
  position: absolute;
  display: inline-block;
  top: 0;
  width: 100%;
  margin: 2.4em 0 0 0;
  text-decoration: none!important;
}
.header .nav_menu ul li{
  list-style-type: none;
}
/*about page css*/

/*AUTHORIZATION PAGE STYLES*/
#authorization{
  background-color: #22222A;
}
/*audio maimunoba*/
audio{
  visibility: hidden;
}
