/*general styles*/
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;;
  font-size: 100%
}
a{
  text-decoration: none;
}
body{
    background-color: #22222A !important;
}
div{
  display: block;
}

/*grid system*/
.grid-bg{
  position: fixed;
  top: 0;
  width: 100%;
}
.col-xs-1{
  height: 100%;
  min-height: 1px;
  width: 8.5%;
  position: relative;
}
.col-xs-2{
  height: 100%;
  min-height: 1px;
  width: 17%;
}
.grid-bg .grid span{
  width: 100%;
  height: 100%;
  display: inline-block;
  border-right: .0625em solid #666767;
}
/*navigation*/
.header{
  height: 6.5em;
}
.logo .pg_logo .nav-logo img{
  height: 90px;
  left: 120px;
  top: 15px;
}
.nav_menu{
  height: 6.5em;
}
.pg_logo{
  z-index: 15;
}
.nav_menu a{
  color: #66FFCC;
  margin-left: 0%;
}
.header .nav_menu ul{
  position: relative;
  height: 6.5em;
}
.header .nav_menu ul li a{
  position: absolute;
  display: inline-block;
  top: 0;
  width: 100%;
  margin: 2.4em 0 0 0;
}
.header .nav_menu ul li{
  list-style-type: none;
}
/*about page css*/
.main-page{
  width: 100%;
  height: 100%;
}
.main-page .gif-photo img{
  left: 10%;
  margin-top: 7%;
}
